
# ================= 通用与模型配置 =================
ENV=production
BACKEND_PORT=8483

# transcriber 相关配置
# TRANSCRIBER_TYPE=fast-whisper # fast-whisper/bcut/kuaishou
TRANSCRIBER_TYPE=mlx-whisper
WHISPER_MODEL_SIZE=medium

FFMPEG_BIN_PATH=/Volumes/MacExt/DevTools/Anaconda/anaconda3/bin/ffmpeg


# ================= 网络路由前缀配置 (保持不变) =================
API_BASE_URL=http://127.0.0.1:8483
SCREENSHOT_BASE_URL=http://127.0.0.1:8483/static/screenshots
STATIC=/static
IMAGE_BASE_URL=/static/screenshots


# ================= 数据分离绝对路径配置 =================
# 基础外置目录 (方便一目了然)
BASE_DATA_DIR=/Volumes/MacExt/UserFiles/Projects/BiliNoteData

# 1. 静态资源（封面图）和截图路径
STATIC_DIR=/Volumes/MacExt/UserFiles/Projects/BiliNoteData/static
OUT_DIR=/Volumes/MacExt/UserFiles/Projects/BiliNoteData/static/screenshots

# 2. 上传和音视频处理缓存目录 (最占空间的胖子)
UPLOADS_DIR=/Volumes/MacExt/UserFiles/Projects/BiliNoteData/uploads

# 3. 笔记生成结果与其他数据目录
DATA_DIR=/Volumes/MacExt/UserFiles/Projects/BiliNoteData/data
NOTE_OUTPUT_DIR=/Volumes/MacExt/UserFiles/Projects/BiliNoteData/note_results
VECTOR_DB_DIR=/Volumes/MacExt/UserFiles/Projects/BiliNoteData/vector_db

# 4. SQLite 数据库文件绝对路径 (注意 sqlite:/// 后面跟绝对路径需要 4 个斜杠)
DB_URL=sqlite:////Volumes/MacExt/UserFiles/Projects/BiliNoteData/bili_note.db